.App {
<<<<<<< HEAD
	text-align: center;
}
body, html {
	margin: 0;
	padding: 0;
=======
  text-align: center;
}
body, html {
  margin: 0;
  padding: 0;
>>>>>>> c7d7d57c693387f61bfe22c80a52468807a01a9e
}
